<style>

#logo {

  width: 100px;
  height: 100px;

}

</style>

<!-- Header knappar för navigering -->
  <ul>
    <li><a class="button1" href="/main-page/startpage"><img id="logo" src="https://www.freelogodesign.org/download/file?id=e7132ef4-e62a-4c73-93f6-af5a2a0bad15.png"></a></li>
    <li><a class="button2" href="/product-page/index">Products</a></li>
    <li><a class="button3" href="/">Contact</a></li>
  </ul>
