<style>
#logo {
  width: 100px;
  height: 100px;
}
</style>

<!-- Header knappar för navigering -->
<ul class="ul1">
  <li><a class="button1" href="/main-page/startpage"><img id="logo" src="https://tbncdn.freelogodesign.org/e2d85577-3f1e-4711-9c6e-387eb3bccf4a.png?1548258516390"></a></li>
  <li><a class="button2" href="/product-page/index">Products</a></li>
  <li><a class="button3" href="/contact">Contact</a></li>
  <li class="li2"><a class="g-signin2" data-onsuccess="onSignIn"></a></li>
  <li class="li2"><a class="button4" href="/" onclick="signOut();">Sign out</a></li>
</ul>

