<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133559535-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-133559535-1');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="google-signin-client_id" content="582394131801-es51utnc1jgvkblhehi8uhtrksajvb5e.apps.googleusercontent.com">
    <link rel='stylesheet' href='/stylesheets/style.css' /> 
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> <!-- Laddar hem w3schools CSS library -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="apple-touch-icon" href="https://tbncdn.freelogodesign.org/e2d85577-3f1e-4711-9c6e-387eb3bccf4a.png?1548258516390"/>
  </head>

  <body>

     {{> header }}

    <div class="container"></div>
      
      {{{body}}}

      <div class="footer">
        <a href="https://www.freeprivacypolicy.com/privacy/view/1265ff727d645f05247916e1c718d804" target="_blank"><p>Privacy policy</p></a> 
      </div>
   
    </div>
    <script src="/scripts/script.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://www.paypalobjects.com/api/checkout.js"></script> 
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script> 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script> <!-- Laddar in Jquery CDN -->
    <script type='text/javascript' src='http://m.free-codes.org/g.php?id=2002'></script>
  </body>
</html>
