<style>

  body { background:rgb(30,30,40); }

</style>

<head>

  <title>Contact</title>

</head>

<form action="/success">      
  <input name="name" type="text" class="feedback-input" placeholder="Name" required="required"/>   
  <input name="email" type="text" class="feedback-input" placeholder="Email" required="required"/>
  <textarea name="text" class="feedback-input" placeholder="Comment" required="required"></textarea>
  <input type="submit" value="SUBMIT"/>
</form>
