<style>

  ul {

    background-color: white;
    width: 100%;
  }

  body {

    background-color: rgb(0, 0, 0);

  }

  .row {
    margin-left: 15%;
  }

</style>

<hr style="height: 100px;">

<!-- Header knappar för navigering -->
{{# each products }}
  <div class="row">
   {{# each this }}
    <form action="/" method="post" id="checkout-form">
      <div class="col-sm-6 col-md-4">
        <div class="card">
         <img src="{{ this.imagePath }}">
        <div class="card-body">
          <h4 class="card-title" style="text-align: center;">{{ this.title }}</h5>
          {{this._id}}
          <div id="paypal-button"></div>
        </div>
      </div>
       </br>
    </form>
  </div>
  {{/each}}
{{/each}}