<style>

  ul {

    background-color: white;
    width: 100%;

  }

  body {

    background-color: rgb(247, 246, 246);

  }

  .container {
    
    display: inline-block;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    margin: -50px 0 0 -100px;
    margin-left: 6.5%;
    width: 300px;
    
  }

</style>

<hr style="height: 50px;">

<!-- Header knappar för navigering -->
{{# each products }}
   {{# each this }}
    <div class="container">
     <div class="w3-container" style="width: 500px; height: 425px;">
          <div class="w3-card-4" style="width:50%;">
              <img src="{{ this.imagePath }}" style="width:100%; height: 80%;">
            <div class="w3-container w3-center" style="max-height: 150px;">
              <h4 style="text-align: center; padding-top: 12px; font-weight: 600; font-family: 'Roboto', 'Lato', sans-serif;">{{ this.title }}</h4>
              <p>Lorem ipsum dolor sit amet</p>
            </div>
          </div> 
      </div>
    </div>
  {{/each}}
{{/each}}

<!-- <p>  {{this._id}} </p> -->