
<!-- Header knappar för navigering -->
<br><br><br>
{{# each products }}
  <div class="row">
   {{# each this }}
    <form action="/" method="post" id="checkout-form">
      <div class="col-sm-6 col-md-4">
        <div class="card">
         <img src="{{ this.imagePath }}">
        <div class="card-body">
          <h4 class="card-title" style="text-align: center;">{{ this.title }}</h5>
           <div id="paypal-button"></div>
        </div>
      </div>
    </form>
  </div>
  {{/each}}
{{/each}}