<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="card" style="width: 14rem;">
      <img src="https://images.unsplash.com/photo-1523983302122-73e869e1f850?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="pic of a car">
      <div class="card-body">
        <h5 class="card-title">Product</h5>
        <p class="card-text">Some quick example text</p>
        <div class="price">295.000kr</div>
        <div class="clearfix float-right">
          <a href="#" class="btn btn-primary">Köp</a>
        </div>
      </div>
    </div>
  </div>
 <div class="col-sm-6 col-md-4">
    <div class="card" style="width: 14rem;">
      <img src="https://images.unsplash.com/photo-1523983302122-73e869e1f850?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="pic of a car">
      <div class="card-body">
        <h5 class="card-title">Product</h5>
        <p class="card-text">Some quick example text</p>
        <div class="price">295.000kr</div>
        <div class="clearfix float-right">
          <a href="#" class="btn btn-primary">Köp</a>
        </div>
      </div>
    </div>
  </div>
 <div class="col-sm-6 col-md-4">
    <div class="card" style="width: 14rem;">
      <img src="https://images.unsplash.com/photo-1523983302122-73e869e1f850?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="pic of a car">
      <div class="card-body">
        <h5 class="card-title">Product</h5>
        <p class="card-text">Some quick example text</p>
        <div class="price">295.000kr</div>
        <div class="clearfix float-right">
          <a href="#" class="btn btn-primary">Köp</a>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="card" style="width: 14rem;">
      <img src="https://images.unsplash.com/photo-1523983302122-73e869e1f850?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="pic of a car">
      <div class="card-body">
        <h5 class="card-title">Product</h5>
        <p class="card-text">Some quick example text</p>
        <div class="price">295.000kr</div>
        <div class="clearfix float-right">
          <a href="#" class="btn btn-primary">Köp</a>
        </div>
      </div>
    </div>
  </div>
 <div class="col-sm-6 col-md-4">
    <div class="card" style="width: 14rem;">
      <img src="https://images.unsplash.com/photo-1523983302122-73e869e1f850?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="pic of a car">
      <div class="card-body">
        <h5 class="card-title">Product</h5>
        <p class="card-text">Some quick example text</p>
        <div class="price">295.000kr</div>
        <div class="clearfix float-right">
          <a href="#" class="btn btn-primary">Köp</a>
        </div>
      </div>
    </div>
  </div>
 <div class="col-sm-6 col-md-4">
    <div class="card" style="width: 14rem;">
      <img src="https://images.unsplash.com/photo-1523983302122-73e869e1f850?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="pic of a car">
      <div class="card-body">
        <h5 class="card-title">Product</h5>
        <p class="card-text">Some quick example text</p>
        <div class="price">295.000kr</div>
        <div class="clearfix float-right">
          <a href="#" class="btn btn-primary">Köp</a>
        </div>
      </div>
    </div>
  </div>
</div>