<style>

* { box-sizing: border-box; }

body {

    background-color: black;

}

</style>

<head>

    <title>Homepage</title>

</head>

<div class="video-background">
    <div class="video-foreground">
        <iframe src="https://www.youtube.com/embed/339b2sLbU7s?autoplay=1&mute=1;&controls=0&showinfo=0&rel=0" frameborder="0" 
        allow="accelerometer; autoplay;" scrolling="no" ALLOWTRANSPARENCY="true" style="pointer-events: none; "></iframe>
    </div>
</div>

<div id="vidtop-content"></div>

<div class="vid-info">
    <h1>Welcome to Embassy Car </h1>
    <p>How nice of you to visit. This website is made for a school project of mine, built on the JavaScript framework Node.JS, please visit the product page and have a look</p>
    <p>Enjoy your stay, and please use the contact form if you have any feedback on how I can upgrade the site. Thank you!
</div>